* {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 50rem; 
    height: 45rem;
    margin-top: 40px; 
    margin-bottom: 40px;
}

.rowName{
    display: flex;
    flex-direction: row;
    gap: 10px;

    div{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
.rowBirth{
    display: flex;
    flex-direction: row;
    gap: 35px;

    .BirthDate{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .Gender{
        display: flex;
        flex-direction: column;
    }
}

.rowEmail{
    display: flex;
    flex-direction: row;
    gap: 10px;

    div{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

